USE [master]
GO
/****** Object:  Database [ElectronicsStore]    Script Date: 8/21/2025 9:08:03 PM ******/
CREATE DATABASE [ElectronicsStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElectronicsStore', FILENAME = N'D:\SQL Dev\MSSQL16.MSSQLSERVER\MSSQL\DATA\ElectronicsStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElectronicsStore_log', FILENAME = N'D:\SQL Dev\MSSQL16.MSSQLSERVER\MSSQL\DATA\ElectronicsStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectronicsStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectronicsStore]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsIssueItems]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsIssueItems](
	[issue_item_id] [int] IDENTITY(1,1) NOT NULL,
	[issue_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[issue_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsIssues]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsIssues](
	[issue_id] [int] IDENTITY(1,1) NOT NULL,
	[issue_date] [datetime] NULL,
	[issue_reason] [varchar](100) NOT NULL,
	[status] [varchar](50) NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[issue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceiptItems]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceiptItems](
	[receipt_item_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[receipt_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceipts]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceipts](
	[receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[receipt_date] [datetime] NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryAdjustments]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryAdjustments](
	[adjustment_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[adjustment_date] [datetime] NULL,
	[adjusted_quantity] [int] NOT NULL,
	[reason] [varchar](100) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[adjustment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[quantity_change] [int] NOT NULL,
	[transaction_date] [datetime] NULL,
	[reference_id] [int] NULL,
	[notes] [text] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[status] [varchar](50) NULL,
	[order_date] [datetime] NULL,
	[shipping_address] [varchar](255) NULL,
	[payment_status] [varchar](50) NULL,
	[shipping_status] [varchar](50) NULL,
	[staff_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[payment_method] [varchar](50) NULL,
	[payment_date] [datetime] NULL,
	[amount] [decimal](18, 2) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[product_name] [varchar](100) NULL,
	[description] [text] NULL,
	[price] [decimal](18, 2) NULL,
	[stock_quantity] [int] NULL,
	[image_url] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[shipping_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[tracking_number] [varchar](100) NULL,
	[shipping_date] [datetime] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[shipping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [varchar](100) NOT NULL,
	[contact_person] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/21/2025 9:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[role] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GoodsIssues] ADD  DEFAULT (getdate()) FOR [issue_date]
GO
ALTER TABLE [dbo].[GoodsIssues] ADD  DEFAULT ('Nháp') FOR [status]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT (getdate()) FOR [receipt_date]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT ('Nháp') FOR [status]
GO
ALTER TABLE [dbo].[InventoryAdjustments] ADD  DEFAULT (getdate()) FOR [adjustment_date]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [transaction_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Shipping] ADD  DEFAULT (getdate()) FOR [shipping_date]
GO
ALTER TABLE [dbo].[ShoppingCart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ShoppingCart] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_Cart_CartItems] FOREIGN KEY([cart_id])
REFERENCES [dbo].[ShoppingCart] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_Cart_CartItems]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_Product_CartItems] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_Product_CartItems]
GO
ALTER TABLE [dbo].[GoodsIssueItems]  WITH CHECK ADD  CONSTRAINT [FK_GoodsIssueItems_GoodsIssues] FOREIGN KEY([issue_id])
REFERENCES [dbo].[GoodsIssues] ([issue_id])
GO
ALTER TABLE [dbo].[GoodsIssueItems] CHECK CONSTRAINT [FK_GoodsIssueItems_GoodsIssues]
GO
ALTER TABLE [dbo].[GoodsIssueItems]  WITH CHECK ADD  CONSTRAINT [FK_GoodsIssueItems_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[GoodsIssueItems] CHECK CONSTRAINT [FK_GoodsIssueItems_Products]
GO
ALTER TABLE [dbo].[GoodsIssues]  WITH CHECK ADD  CONSTRAINT [FK_GoodsIssues_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[GoodsIssues] CHECK CONSTRAINT [FK_GoodsIssues_Users]
GO
ALTER TABLE [dbo].[GoodsReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_GoodsReceiptItems_GoodsReceipts] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[GoodsReceipts] ([receipt_id])
GO
ALTER TABLE [dbo].[GoodsReceiptItems] CHECK CONSTRAINT [FK_GoodsReceiptItems_GoodsReceipts]
GO
ALTER TABLE [dbo].[GoodsReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_GoodsReceiptItems_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[GoodsReceiptItems] CHECK CONSTRAINT [FK_GoodsReceiptItems_Products]
GO
ALTER TABLE [dbo].[GoodsReceipts]  WITH CHECK ADD  CONSTRAINT [FK_GoodsReceipts_Suppliers] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[GoodsReceipts] CHECK CONSTRAINT [FK_GoodsReceipts_Suppliers]
GO
ALTER TABLE [dbo].[GoodsReceipts]  WITH CHECK ADD  CONSTRAINT [FK_GoodsReceipts_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[GoodsReceipts] CHECK CONSTRAINT [FK_GoodsReceipts_Users]
GO
ALTER TABLE [dbo].[InventoryAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_InventoryAdjustments_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[InventoryAdjustments] CHECK CONSTRAINT [FK_InventoryAdjustments_Products]
GO
ALTER TABLE [dbo].[InventoryAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_InventoryAdjustments_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[InventoryAdjustments] CHECK CONSTRAINT [FK_InventoryAdjustments_Users]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Products]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderDetails] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Order_OrderDetails]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Product_OrderDetails] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Product_OrderDetails]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [fk_staff_id] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [fk_staff_id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_User_Order] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_User_Order]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Order_Payment]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [fk_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [fk_user_id]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Order_Shipping] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Order_Shipping]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_User_ShoppingCart] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_User_ShoppingCart]
GO
USE [ElectronicsStore]
GO

-- 1. Insert into Users

-- 2. Insert into Categories
INSERT INTO [dbo].[Categories] ([category_name])
VALUES 
    ('Smartphones'),
    ('Laptops'),
    ('Tablets'),
    ('Accessories'),
    ('Televisions');

-- 3. Insert into Suppliers
INSERT INTO [dbo].[Suppliers] ([supplier_name], [contact_person], [phone], [email], [address])
VALUES 
    ('TechSupply Inc.', 'Tom Wilson', '1112223333', 'tom@techsupply.com', '500 Industrial Dr'),
    ('ElectroCorp', 'Sarah Lee', '2223334444', 'sarah@electrocorp.com', '600 Commerce St'),
    ('GadgetWorld', 'Mike Chen', '3334445555', 'mike@gadgetworld.com', '700 Trade Ave'),
    ('TechTrend', 'Lisa Wong', '4445556666', 'lisa@techtrend.com', '800 Market Rd'),
    ('ElectroHub', 'David Kim', '5556667777', 'david@electrohub.com', '900 Supply Ln');

-- 4. Insert into Products

-- 5. Insert into ShoppingCart
INSERT INTO [dbo].[ShoppingCart] ([user_id], [created_at], [updated_at])
VALUES 
    (1, GETDATE(), GETDATE()),
    (3, GETDATE(), GETDATE()),
    (5, GETDATE(), GETDATE()),
    (1, GETDATE(), GETDATE()),
    (3, GETDATE(), GETDATE());

-- 6. Insert into Orders
INSERT INTO [dbo].[Orders] ([user_id], [total_amount], [status], [order_date], [shipping_address], [payment_status], [shipping_status], [staff_id])
VALUES 
    (1, 849.98, 'Pending', GETDATE(), '123 Main St', 'Pending', 'Not Shipped', 2),
    (3, 1299.99, 'Confirmed', GETDATE(), '789 Pine Rd', 'Completed', 'Shipped', 2),
    (5, 499.99, 'Pending', GETDATE(), '202 Birch Ln', 'Pending', 'Not Shipped', 4),
    (1, 149.99, 'Confirmed', GETDATE(), '123 Main St', 'Completed', 'Shipped', 2),
    (3, 799.99, 'Pending', GETDATE(), '789 Pine Rd', 'Pending', 'Not Shipped', 4);

-- 7. Insert into GoodsReceipts
INSERT INTO [dbo].[GoodsReceipts] ([supplier_id], [receipt_date], [total_amount], [status], [user_id])
VALUES 
    (1, GETDATE(), 6999.90, 'Nháp', 2),
    (2, GETDATE(), 6499.95, 'Nháp', 4),
    (3, GETDATE(), 3749.95, 'Nháp', 2),
    (4, GETDATE(), 2999.80, 'Nháp', 4),
    (5, GETDATE(), 2399.97, 'Nháp', 2);

-- 8. Insert into GoodsIssues
INSERT INTO [dbo].[GoodsIssues] ([issue_date], [issue_reason], [status], [user_id])
VALUES 
    (GETDATE(), 'Defective Product', 'Nháp', 2),
    (GETDATE(), 'Overstock Adjustment', 'Nháp', 4),
    (GETDATE(), 'Damaged Goods', 'Nháp', 2),
    (GETDATE(), 'Return to Supplier', 'Nháp', 4),
    (GETDATE(), 'Stock Correction', 'Nháp', 2);

-- 9. Insert into CartItems
INSERT INTO [dbo].[CartItems] ([cart_id], [product_id], [quantity])
VALUES 
    (1, 1, 2),
    (2, 2, 1),
    (3, 3, 3),
    (4, 4, 5),
    (5, 5, 1);

-- 10. Insert into GoodsIssueItems
INSERT INTO [dbo].[GoodsIssueItems] ([issue_id], [product_id], [quantity])
VALUES 
    (1, 1, 5),
    (2, 2, 2),
    (3, 3, 3),
    (4, 4, 10),
    (5, 5, 1);

-- 11. Insert into GoodsReceiptItems
INSERT INTO [dbo].[GoodsReceiptItems] ([receipt_id], [product_id], [quantity], [unit_price])
VALUES 
    (1, 1, 10, 699.99),
    (2, 2, 5, 1299.99),
    (3, 3, 7, 499.99),
    (4, 4, 20, 149.99),
    (5, 5, 3, 799.99);

-- 12. Insert into InventoryAdjustments
INSERT INTO [dbo].[InventoryAdjustments] ([product_id], [adjustment_date], [adjusted_quantity], [reason], [user_id])
VALUES 
    (1, GETDATE(), -5, 'Stock Loss', 2),
    (2, GETDATE(), 10, 'Stock Correction', 4),
    (3, GETDATE(), -3, 'Damaged Goods', 2),
    (4, GETDATE(), 15, 'Supplier Error', 4),
    (5, GETDATE(), -2, 'Theft', 2);

-- 13. Insert into InventoryTransactions
INSERT INTO [dbo].[InventoryTransactions] ([product_id], [transaction_type], [quantity_change], [transaction_date], [reference_id], [notes], [user_id])
VALUES 
    (1, 'Receipt', 10, GETDATE(), 1, 'Received from supplier', 2),
    (2, 'Issue', -2, GETDATE(), 2, 'Sent to repair', 4),
    (3, 'Adjustment', -3, GETDATE(), 3, 'Damaged in storage', 2),
    (4, 'Receipt', 20, GETDATE(), 4, 'Restocked', 4),
    (5, 'Issue', -1, GETDATE(), 5, 'Returned to supplier', 2);

-- 14. Insert into OrderDetails
INSERT INTO [dbo].[OrderDetails] ([order_id], [product_id], [quantity], [price])
VALUES 
    (1, 1, 2, 699.99),
    (2, 2, 1, 1299.99),
    (3, 3, 1, 499.99),
    (4, 4, 1, 149.99),
    (5, 5, 1, 799.99);

-- 15. Insert into Payments
INSERT INTO [dbo].[Payments] ([order_id], [payment_method], [payment_date], [amount], [status])
VALUES 
    (1, 'Credit Card', GETDATE(), 849.98, 'Pending'),
    (2, 'PayPal', GETDATE(), 1299.99, 'Completed'),
    (3, 'Bank Transfer', GETDATE(), 499.99, 'Pending'),
    (4, 'Credit Card', GETDATE(), 149.99, 'Completed'),
    (5, 'Cash', GETDATE(), 799.99, 'Pending');

-- 16. Insert into Shipping
INSERT INTO [dbo].[Shipping] ([order_id], [tracking_number], [shipping_date], [status])
VALUES 
    (1, 'TRK123456', GETDATE(), 'Not Shipped'),
    (2, 'TRK789012', GETDATE(), 'Shipped'),
    (3, 'TRK345678', GETDATE(), 'Not Shipped'),
    (4, 'TRK901234', GETDATE(), 'Shipped'),
    (5, 'TRK567890', GETDATE(), 'Not Shipped');

USE [master]
GO
