@page
@model FinalProject.Pages.View.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Product</h2>
            <hr />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <!-- Category -->
       <div class="mb-3 d-flex flex-column">
            <label class="form-label">Category</label>
            <select asp-for="Product.CategoryId" class="form-select"
                    asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))">
                <option value="">-- Select Category --</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>


        <!-- ProductName -->
        <div class="mb-3">
            <label asp-for="Product.ProductName" class="form-label"></label>
            <input asp-for="Product.ProductName" class="form-control" />
            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label asp-for="Product.Description" class="form-label"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <!-- Price -->
        <div class="mb-3">
            <label asp-for="Product.Price" class="form-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <!-- StockQuantity -->
        <div class="mb-3">
            <label asp-for="Product.StockQuantity" class="form-label"></label>
            <input asp-for="Product.StockQuantity" class="form-control" />
            <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
        </div>

        <!-- ImageUrl -->
        <div class="mb-3">
            <label asp-for="Product.ImageUrl" class="form-label"></label>
            <input asp-for="Product.ImageUrl" class="form-control" />
            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
        <a asp-page="ManageProduct" class="btn btn-secondary" style="width:150px;">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
