@page
@model FinalProject.Pages.View.EditModel
<form method="post" onsubmit="return showConfirmation()">
	<input hidden asp-for="Product.ProductId" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Edit Product</h2>
            <hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3 d-flex flex-column" >
			<label asp-for="Product.CategoryId" class="form-label">Category</label>
			<select asp-for="Product.CategoryId" class="form-select"
					asp-items="@(new SelectList(Model.Category, "CategoryId", "CategoryName", Model.Product.CategoryId))">
				<option value="">-- Select Category --</option>
			</select>
			<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Product.ProductName"></label>
			<input asp-for="Product.ProductName" class="form-control" />
			<span asp-validation-for="Product.ProductName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Product.Description"></label>
			<input asp-for="Product.Description" class="form-control" />
			<span asp-validation-for="Product.Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Product.Price"></label>
			<input asp-for="Product.Price" class="form-control" />
			<span asp-validation-for="Product.Price" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Product.StockQuantity"></label>
			<input asp-for="Product.StockQuantity" class="form-control" />
			<span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Product.ImageUrl"></label>
			<input asp-for="Product.ImageUrl" class="form-control" />
			<span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<input type="hidden" asp-for="Product.CreatedAt" class="form-control" />
			<span asp-validation-for="Product.CreatedAt" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
		<a asp-page="ManageProduct" class="btn btn-secondary" style="width:150px;"> Back to List</a>
       
	</div>
	
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
		<script>
			function showConfirmation() {
				return confirm("Are you sure you want to save changes?");
			}
		</script>
	}
}