    @page
    @model FinalProject.Pages.View.LoginModel
    @{
    }
    <section class="login_box_area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <div class="hover">
                            <h4>New to our website?</h4>
                            <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                            <a class="button button-account" href="~/View/Register">Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Log in Page</h3>
                        <form class="row login_form" method="post" id="contactForm">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" name="username" id="name" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" name="password" id="name" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            </div>
                            @if (!string.IsNullOrEmpty(Model.LoginMessage))
                            {
                                <div style="color: red;">@Model.LoginMessage</div>
                            }
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="button button-login w-100">Log In</button>
                            <a href="/View/VerifyEmail">Forgot Password?</a>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="f-option2">or</label></br>
                            <a asp-page-handler="Login" class="button button-login w-100" style="background-color: #4285F4; color: white;">
                                    <i class="fab fa-google"></i> Log in with Google
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
